services:
  - type: web
    name: mass-transit-server
    env: node
    plan: free
    buildCommand: npm install && npm --prefix server install --legacy-peer-deps
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: PORT
        value: 5000
databases:
  - name: mass-transit-db
    databaseName: mass-transit-control-system
    plan: free
