.staff-container {
  padding: 10px;
  background-color: #f9f9f9; 
}

.staff-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}


.staff-form {
  margin-bottom: 15px;
}

.staff-form input {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #000;
}

.staff-form button {
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: #4CAF50; 
  color: white;
}


.staff-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.staff-table th,
.staff-table td {
  border: 1px solid #000;
  padding: 5px;
  text-align: left;
}

.staff-table th {
  background-color: #007BFF; 
  color: white;
}

.staff-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.btn-edit {
  padding: 4px 8px;
  border: 1px solid #000;
  background-color: #ffc107; 
  margin-right: 5px;
}

.btn-delete {
  padding: 4px 8px;
  border: 1px solid #000;
  background-color: #dc3545;
  color: white;
}
